/**

 * @name Dark Discord
 * @version 1.0
 * @description Pitch black theme for Discord.
 * @source https://github.com/DarkReaper231/blurred/blob/main/.config/BetterDiscord/themes/Dark.theme.css
 * @author DarkReaper231

**/

.theme-dark,
.theme-light,
:root {
   --background-primary: #000000 !important;
   --background-secondary: #000000 !important;
   --background-secondary-alt: #000000 !important;
   --background-tertiary: #000000 !important;
   --background-accent: rgba(255, 255, 255, 0.04) !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --scrollbar-thin-thumb: #ffffff !important;
   --scrollbar-thin-track: #000000 !important;
}

.scroller-kQBbkU::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.scroller-kQBbkU::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-2VBrVI::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.peopleList-2VBrVI::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.contentRegionScroller-2_GT_N::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-2VBrVI {
    background: #000000;
}

.resultsGroup-cfY57t {
    background: #000000 !important;
}

.option-ayUoaq.user-1dKxvu::after {
    background: #000000 !important;
}

.option-ayUoaq.searchOption-3u1gRt::after {
    background: #000000 !important;
}

.authBoxExpanded-AN2aH1.authBox-1HR6Ha.theme-dark.card-14SgW5 {
    background: #000000 !important;
}

.inputDefault-3FGxgL.input-2g-os5.inputField-2RZxdl {
    background: #0c0c0c !important;
}

.inputDefault-3FGxgL.input-2g-os5 {
    background: #0c0c0c !important;
}

.theme-dark.navRow-dG-XX8 {
    background: #000000 !important;
}

.button-f2h6uQ.lookFilled-yCfaCM.colorGrey-2iAG-B.sizeMedium-2bFIHr.grow-2sR_-F {
    background: #0c0c0c !important;
}

.option-ayUoaq::after {
    background: #000000 !important;
}

.progress-1S-TDF {
   background-color: #0c0c0c !important;
}

.notches-2w7UZJ.gray-3wP137 {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23000000'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}

.bar-1Bhnl9 {
   background-color: #0c0c0c !important;
}

.container-2nx-BQ {
   background-color: #0c0c0c !important;
}

.fieldButton-14lHvK {
   background-color: #0c0c0c !important;
}

.message-G6O-Wv {
   background-color: #0c0c0c !important;
}

.scroller-Q9d9Di.thin-31rlnD.scrollerBase-_bVAAt {
    background: #000000 !important;
}

.button-ZJ9ZzX {
   background-color: #0c0c0c !important;
}

.button-3M8h3F {
   background-color: #0c0c0c !important;
}

.headerClickable-zGQJz3 {
   background-color: #0c0c0c !important;
}

.tierHeaderContent-2SPBAA, .tierBody-1d3UiS {
   background-color: #0c0c0c !important;
}

.flexCenter-1Mwsxg.flex-3BkGQD.justifyCenter-rrurWZ.alignCenter-14kD11.activeGame-1OdxzI.notDetected-M3Ghh2 {
    background: #0c0c0c;
}

.queryContainer-ZunrLZ {
    background: #000000 !important;
}

.body-1ld4H7 {
    background: #000000;
}


.scroller-18M1mG.thin-31rlnD.scrollerBase-_bVAAt {
    background: #000000 !important;
}

.base-2v-uc0.selectable-1MM9tu.selected-3H3-RC {
    background: #0c0c0c !important;
}

.peopleColumn-1wMU14 {
    background: #000000 !important;
}

.section-2gLsgF {
    background: #000000;
}

.itemCard-3Etziu {
    background: #000000 !important;
}

.theme-dark .root-g14mjS {
    background: #000000;
}

.focusLock-2tveLW, .root-g14mjS {
    background: #000000;
}

.theme-dark .footer-31IekZ {
    background: #000000;
}

.card-16VQ8C {
    background: #0c0c0c !important;
}

.markup-eYLPri code, .textContainer-36wgKK code {
    background: #0c0c0c !important;
}

.bd-switch-body {
    background: #0c0c0c !important;
}

.searchFilter-2UfsDk, .searchAnswer-23w-CH {
    background: #0c0c0c !important;
}

.repoScroller-9JnAPs::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.repoScroller-9JnAPs::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.friendSelected-3cwmD7 {
    background: #0c0c0c !important;
}

.primaryDark-2UJt1G {
    background: #0c0c0c !important;
}

.select-1Ia3hD {
    background: #0c0c0c !important;
}

.popout-1KHNAq::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.popout-1KHNAq::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.bioTextArea-dDGOeC {
    background: #0c0c0c !important;
}

.input-2g-os5 {
    background: #1c1c1c !important;
}

.field-3rN-Ip {
    background: #0c0c0c !important;
}

.inputField-1iYysB {
    background: #0c0c0c !important;
}

.countryButton-1cNDvB {
    background: #1c1c1c !important;
}

.banner {
    background: #0c0c0c !important;
}

.button-f2h6uQ.lookFilled-yCfaCM.colorPrimary-2AuQVo.sizeMedium-2bFIHr.grow-2sR_-F {
    background: #0c0c0c !important;
}

.button-cO0-d9.button-f2h6uQ.lookFilled-yCfaCM.colorPrimary-2AuQVo.sizeSmall-wU2dO-.grow-2sR_-F {
    background: #0c0c0c !important;
}

.streamPreview-I7itZ6 {
    background: #0c0c0c !important;
}

.button-f2h6uQ.lookFilled-yCfaCM.cta-3-AFNF.sizeMin-DfpWCE.grow-2sR_-F {
    background: #0c0c0c !important;
}

.spoilerText-27bIiA {
    background: #0c0c0c !important;
}

.tierBody-3ju-rc, .tierHeaderLocked-3ItHYn, .tierHeader-wgo0w_ {
    background: #0c0c0c !important;
}

.subscribeAction-1tjck2.button-f2h6uQ.lookFilled-yCfaCM.colorPrimary-2AuQVo.sizeSmall-wU2dO-.grow-2sR_-F {
    background: #0c0c0c !important;
}

.perk-19D_HN {
    background: #0c0c0c !important;
}

.perksModal-CLcR1c.auto-2K3UW5.scrollerBase-_bVAAt {
    background-color: #000000 !important;
}

.perksModal-CLcR1c::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.perksModal-CLcR1c::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.tierMarkerBackground-G8FoN4 {
    background: #0c0c0c !important;
}

.barBackground-unEPDT.bar-1g-wqp {
    background: #0c0c0c !important;
}

.tierMarkerInProgress-2Tdxjz.tierMarker-Vw1C95.desaturate-_Twf3u.tierMarkerSelectable-2WVYV- {
    background: #1c1c1c !important;
}

.tierMarkerInProgress-2Tdxjz.tierMarker-Vw1C95.desaturate-_Twf3u {
    background: #1c1c1c !important;
}

.icon-2TbMdT {
    background: #2c2c2c !important;
}

.secondaryButton-rBY2Kw.button-f2h6uQ.lookFilled-yCfaCM.colorPrimary-2AuQVo.sizeXlarge-2TyITf.grow-2sR_-F {
    background: #0c0c0c !important;
}

.participantsButton-1WBdFP.button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ.grow-2sR_-F {
    background: #0c0c0c !important;
}

.button-TGAkj4.button-f2h6uQ.lookFilled-yCfaCM.buttonColor-XIRMbp.buttonSize-dIiz43.fullWidth-fJIsjq.grow-2sR_-F {
    background: #0c0c0c !important;
}

.scroller-2MALzE.list-2u03C-.thin-31rlnD.scrollerBase-_bVAAt {
    background: #000000 !important;
}

.wrapper-1NNaWG.categoryHeader-OpJ1Ly {
    background: #000000 !important;
}