/**

 * @name Dark Discord
 * @version 1.0
 * @description Pitch black theme for Discord.
 * @source https://github.com/DarkReaper231/blurred/blob/main/.config/BetterDiscord/themes/Dark.theme.css
 * @author DarkReaper231

**/

.theme-dark,
.theme-light,
:root {
   --background-primary: #000000 !important;
   --background-secondary: #000000 !important;
   --background-secondary-alt: #000000 !important;
   --background-tertiary: #000000 !important;
   --background-accent: rgba(255, 255, 255, 0.04) !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --scrollbar-thin-thumb: #ffffff !important;
   --scrollbar-thin-track: #000000 !important;
}

.scroller-kQBbkU::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.scroller-kQBbkU::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-2VBrVI::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.peopleList-2VBrVI::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.contentRegionScroller-2_GT_N::-webkit-scrollbar-thumb {
    background-color: #ffffff !important;
}

.contentRegionScroller-2_GT_N::-webkit-scrollbar-track {
    background-color: #000000 !important;
}

.peopleList-2VBrVI {
    background: #000000;
}

.resultsGroup-cfY57t {
    background: #000000 !important;
}

.option-ayUoaq.user-1dKxvu::after {
    background: #000000 !important;
}

.option-ayUoaq.searchOption-3u1gRt::after {
    background: #000000 !important;
}

.option-ayUoaq::after {
    background: #000000 !important;
}

.progress-1S-TDF {
   background-color: #0c0c0c !important;
}

.notches-2w7UZJ.gray-3wP137 {
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23000000'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}

.bar-1Bhnl9 {
   background-color: #0c0c0c !important;
}

.container-2nx-BQ {
   background-color: #0c0c0c !important;
}

.fieldButton-14lHvK {
   background-color: #0c0c0c !important;
}

.button-ZJ9ZzX {
   background-color: #0c0c0c !important;
}

.button-3M8h3F {
   background-color: #0c0c0c !important;
}

.headerClickable-zGQJz3 {
   background-color: #0c0c0c !important;
}

.tierHeaderContent-2SPBAA, .tierBody-1d3UiS {
   background-color: #0c0c0c !important;
}

.flexCenter-1Mwsxg.flex-3BkGQD.justifyCenter-rrurWZ.alignCenter-14kD11.activeGame-1OdxzI.notDetected-M3Ghh2 {
    background: #0c0c0c;
}

.queryContainer-ZunrLZ {
    background: #000000 !important;
}

.body-1ld4H7 {
    background: #000000;
}

.peopleColumn-1wMU14 {
    background: #000000 !important;
}

.section-2gLsgF {
    background: #000000;
}

.itemCard-3Etziu {
    background: #000000 !important;
}

.theme-dark .root-g14mjS {
    background: #000000;
}

.focusLock-2tveLW, .root-g14mjS {
    background: #000000;
}

.theme-dark .footer-31IekZ {
    background: #000000;
}

.card-16VQ8C {
    background: #0c0c0c !important;
}

.markup-eYLPri code, .textContainer-36wgKK code {
    background: #0c0c0c !important;
}

.bd-switch-body {
    background: #0c0c0c !important;
}
