/**

 * @name Dark Discord
 * @version 1.0
 * @description Pitch black theme for Discord.
 * @source https://github.com/DarkReaper231/blurred/blob/main/.config/BetterDiscord/themes/Dark.theme.css
 * @author DarkReaper231

**/

.theme-dark,
.theme-light,
:root {
   --background-primary: #000000 !important;
   --background-secondary: #000000 !important;
   --background-secondary-alt: #000000 !important;
   --background-tertiary: #000000 !important;
   --background-accent: rgba(255, 255, 255, 0.04) !important;
   --background-floating: black !important;
   --background-modifier-hover: rgba(255, 255, 255, 0.01) !important;
   --background-modifier-active: rgba(255, 255, 255, 0.03) !important;
   --background-modifier-selected: rgba(255, 255, 255, 0.04) !important;
   --background-modifier-accent: hsla(0, 0%, 100%, 0.06) !important;
   --channeltextarea-background: var(--background-accent) !important;
   --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
   --deprecated-card-editable-bg: rgba(0, 0, 0, 0.1) !important;
   --deprecated-text-input-bg: var(--deprecated-card-editable-bg) !important;
   --deprecated-text-input-border: var(--background-floating) !important;
   --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
   --activity-card-background: var(--background-primary) !important;
   --channels-default: #9f9f9f !important;
   --text-muted: #b6b6b6 !important;
   --text-normal: #fbfbfb !important;
   --interactive-normal: #c8c8c8 !important;
   --interactive-hover: #dcddde !important;
   --interactive-active: #fff !important;
   --interactive-muted: #747474 !important;
   --header-primary: white !important;
   --header-secondary: #c9c9c9 !important;
   --toast-background: var(--background-primary) !important;
   --toast-header: var(--background-tertiary) !important;
   --toast-contents: var(--background-secondary) !important;
   --toast-box-shadow: rgba(0, 0, 0, 0.2) !important;
   --toast-border: var(--background-tertiary) !important;
   --scrollbar-thin-thumb: #ffffff !important;
   --scrollbar-thin-track: none !important;
   --profile-gradient-primary-color: #000000 !important;
   --profile-gradient-secondary-color: #000000 !important;
   --profile-gradient-button-color: #0c0c0c !important;
   --profile-gradient-overlay-color: none !important;
   --profile-body-background-color: none !important;
   --profile-body-background-hover: none !important;
   --profile-body-divider-color: none !important;
   --profile-avatar-border-color: none !important;
   --profile-message-input-border-color: #0c0c0c !important;
   --profile-note-background-color: #0c0c0c !important;
   --account-profile-popout-menu-hover: none !important;
   --profile-role-pill-background-color: #0c0c0c !important;
   --profile-role-pill-border-color: #0c0c0c !important;
   --scrollbar-auto-thumb: #ffffff !important;
   --scrollbar-auto-track: none !important;
   --search-popout-option-fade: none !important;
   --search-popout-option-fade-hover: none !important;
   --modal-footer-background: #000000 !important;
   --modal-background: #000000 !important;
   --button-secondary-background: #0c0c0c !important;
   --input-background: #0c0c0c !important;
   --background-mobile-primary: #000000 !important;
}

.tierHeaderContent-2SPBAA,
.tierBody-1d3UiS,
.perksModal-CLcR1c.auto-2K3UW5.scrollerBase-_bVAAt,
.background-fkKrXt,
.autocomplete-3NRXG8,
.categoryHeader-OpJ1Ly,
.role-side,
.perm-side,
.header,
.footer-1hTRRZ,
.navRow-dG-XX8 {
   background-color: #000000 !important;
}

.interactive-2zD88a:hover,
.inviteRow-3vmB7i:hover,
.tile-2TcwiO,
.container-2nx-BQ,
.bar-1Bhnl9,
.progress-1S-TDF,
.friendSelected-3cwmD7,
.active-1W_Gl9,
.searchFilter-2UfsDk,
.searchAnswer-23w-CH,
.body-2WIpo7,
.primaryDark-2UJt1G,
.buttonColor-28DXIe,
.iconWrapper-2_MXbk,
.markup-eYLPri code,
.textContainer-36wgKK code {
   background-color: #0c0c0c !important;
}

.colorPrimary-2AuQVo:hover,
.contents-3ca1mk.button-3Vyz67 {
    background-color: #1c1c1c !important;
}

.contents-3ca1mk.button-3Vyz67:hover {
    background-color: #2c2c2c !important;
 }

.perm-scroller::-webkit-scrollbar-thumb {
     background-color: #ffffff !important;
}

.role-scroller::-webkit-scrollbar-thumb {
     background-color: #ffffff !important;
}

.headerBarInner-2pcZSM:after,
.pageWrapper-2PwDoS {
    background: #000000 !important;
}

.markup-eYLPri code,
.textContainer-36wgKK code,
.bd-switch-body,
.banner,
.tierBody-3ju-rc,
.tierHeaderLocked-3ItHYn,
.tierHeader-wgo0w_,
.subscribeAction-1tjck2.button-f2h6uQ.lookFilled-yCfaCM.colorPrimary-2AuQVo.sizeSmall-wU2dO-.grow-2sR_-F,
.perk-19D_HN,
.tierMarkerBackground-G8FoN4,
.barBackground-unEPDT.bar-1g-wqp,
.spinner-2bMWLW {
    background: #0c0c0c !important;
}

.tierMarkerInProgress-2Tdxjz.tierMarker-Vw1C95.desaturate-_Twf3u.tierMarkerSelectable-2WVYV-,
.tierMarkerInProgress-2Tdxjz.tierMarker-Vw1C95.desaturate-_Twf3u {
    background: #1c1c1c !important;
}

.notches-2w7UZJ.gray-3wP137 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='20' fill='%23000000'%3E%3Cpath fill-rule='evenodd' d='M0 0h8v20H0V0zm4 2a2 2 0 00-2 2v12a2 2 0 104 0V4a2 2 0 00-2-2z'/%3E%3C/svg%3E") !important;
}

.actions-10aT1z {
    width: 130px !important;
}
